.panel.panel-default
	.panel-heading
		%h5 New Movie
	.panel-body
		= simple_form_for @movie do |f|
			= f.input :title, input_html: {class: "form-control"}
			= f.input :director, input_html: {class: "form-control"}
			= f.input :length, input_html: {class: "form-control"}
			= f.input :description, input_html: {class: "form-control"}
			= f.input :image, as: :file, input_html: {class: "form-control"}
			%br
			= f.submit :"Submit", class: "btn btn-sm btn-success"