.col-md-3.overflow
	= image_tag @movie.image.url(:large)
	%h6 
		Avg Rating
		(
		= pluralize(@movie.comments.count, "Review")
		)
		%div{ :class => "rating", "data-score" => "#{@avg}" }
	%br

	%h5 Submitted by: #{@movie.user.email} 
	%h5 Director: #{@movie.director}
	%h5 Length: #{@movie.length}
	%h5 Summary: #{@movie.description}
	- if @movie.user == current_user
		= link_to "Edit", edit_movie_path(@movie)
		= link_to "Delete", movie_path(@movie), method: :delete
.col-md-9
	.panel.panel-default
		.panel-heading
			%h4
				User Reviews
		.panel-body
			- if @movie.comments.blank?
				%h3.reviews No Reviews Yet. Be the First One
				
			- @movie.comments.each do |comment|
				%p= link_to comment.user.email, user_path(comment.user)
				%div{ :class => "rating", "data-score" => "#{comment.rating}"}
				%p= comment.body
				%br
	- if user_signed_in?		
		.panel.panel-default
			.panel-heading
				%h4.title Add Review
			.panel-body
				= simple_form_for [@movie, @movie.comments.build] do |f|
					= f.input :rating, label: "Rating (1-5)", input_html: {class: "form-control", min: 0, max: 5}
					= f.input :body, input_html: {class: "form-control"}
					%br
					= f.submit "Add Comment", class: "btn btn-success btn-sm"
	- else
		%p
			= link_to "Sign up", new_user_registration_path, class: "btn btn-success"
			to leave a comment


:javascript
	$('.rating').raty({
	  path: '/public/images',
	  readOnly: true,
	  score: function() {
	    return $(this).attr('data-score');
	  }
	});

