!!! 5
%html
%head
	%title Rotten Banana's
	= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
	= javascript_include_tag 'application', 'data-turbolinks-track' => true
	= csrf_meta_tags
%body

	%nav.navbar.navbar-default
		.container-fluid
			.navbar-header
				.navbar-brand
					= link_to "Rotten Bananas", root_url
			%ul.nav.navbar-nav.navbar-right
				- if user_signed_in?
					%li= link_to "Add Movie", new_movie_path
					%li= link_to "Sign Out", destroy_user_session_path, method: :delete
				- else
					%li= link_to "Sign In", new_user_session_path
					%li= link_to "Sign Up", new_user_registration_path
	
	.container

		- flash.each do |k,v|
			.alert{:class => "alert-#{k}"}= v 
		- flash.each do |k,v|
			.notice 

		= yield

