!!! 5
%html
%head
	%title ROTTEN BANANA'S
	= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
	= javascript_include_tag 'application', 'data-turbolinks-track' => true
	= csrf_meta_tags
%body
	%nav.navbar.navbar-inverse
		.container-fluid
			.navbar-header
				.navbar-brand
					= link_to "ROTTEN BANANA'S", root_url

			%ul.nav.navbar-nav.navbar-right
				= form_tag search_movies_path, method: :get, class: "navbar-form navbar-left", role: "search" do
					%p
						= text_field_tag :search, params[:search], class: "form-control"
						= submit_tag "Search", name: nil, class: "btn btn-default"

				- if user_signed_in?
					%li= link_to "Profile", user_path(@user)
					%li= link_to "Add Movie", new_movie_path
					%li= link_to "Sign Out", destroy_user_session_path, method: :delete
				- else
					%li= link_to "Sign In", new_user_session_path
					%li= link_to "Sign Up", new_user_registration_path
							
		
	.container
		.row
			.col-md-12
				- if user_signed_in?
					- flash.each do |k,v|
						.alert{:class => "alert-#{k}"}= v 
					- flash.each do |k,v|
						.notice 
				- else
					.jumbotron
						%h1 Watch.Discuss.Review
						%h5.reviews 
							Sign up now and write about how you paid $15 (or whatever the cost of movie ticket is in your area) and wasted 2 hours of your life to watch that horrible movie nobody warned you about!
						%br
						= link_to "Get Started", new_user_registration_path, class: "btn btn-success btn-sm"
		
		= yield

	%nav.navbar.navbar-inverse.navbar-fixed-bottom
		.container
			%p 2015
